.lifelines{

  padding:12px;
  background-color:blue;
  color:white;
  max-width:200px;
  font-weight:bold;
  border-radius:12px;
  margin-top:1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.insights{
  box-sizing: border-box;
  display:grid;
  grid-template-columns: auto;
  padding:14px;
  border-radius: 13px;
  margin-top:1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.insight-flex{
    display: flex;
    justify-content: space-between;

}
.test_name_in{
  color:#3f51b5;
}